.rec {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(7.5px) contrast(.75) brightness(.5);
    z-index: 10;
    display: none;
    place-content: center;
}

.inrec {
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: min(4.6dvmin, calc(2rem * var(--макс)));
}

#rec_close, #rec_tochka {
    width: min(4.6dvmin, calc(2rem * var(--макс)));
    filter: invert(1);
    opacity: 0.5;
}
#rec_close:hover, #rec_tochka:hover {
    opacity: 1;
    transition: all .25s;
}

.rec img {
    height: 75dvh;
    max-width: 90dvw;
    object-fit: contain;
    filter: drop-shadow(0 0 min(2.3vw, 1rem) #454545) drop-shadow(0 0 min(9.2vw, 4rem) #000) drop-shadow(0 0 min(11.5vw, 5rem) #232323);
}









#rec_menu {
    background: #757575e8;
    border: min(0.345dvmin, calc(0.15rem * var(--макс))) outset rgba(255, 255, 255, 0.68);
    padding: min(3.45dvmin, calc(1.5rem * var(--макс)));
    transition: all 0.2s ease-in-out;
    transform: translateY(calc(5% * var(--макс)));
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: min(80dvw, calc(40rem * var(--макс)));
    max-height: calc(85dvh * var(--макс));
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: #4b5a4b #232923; 
    font-size: min(2.76dvmin, calc(1.2rem * var(--макс)));
    font-family: pixel8bit;
    z-index: 10;
}
#rec_menu.show {
    opacity: 1;
    pointer-events: auto;
}

.rec span {
    border: min(0.345dvmin, calc(0.15rem * var(--макс))) outset rgb(197, 197, 197);
    width: 100%;
    display: block;
    margin: calc(3% * var(--макс)) 0;
}
li { margin-left: calc(3.25dvmin * var(--макс)); }
#rec_menu h1, h2 { line-height: 1.1; margin-bottom: 1% }