@font-face {
  font-family: 'africa';
  src: url('font/ST-Africa.woff');}
@font-face {
  font-family: 'Copperplate';
  src: url('font/ofont.ru_Copperplate.woff');}
@font-face {
  font-family: 'buyan';
  src: url('font/BuyanBold.woff');}
@font-face {
  font-family: 'nyashasans';
  src: url('font/nyashasans.ttf');}
@font-face {
  font-family: 'courier';
  src: url('font/Courier Thin.otf');}
@font-face {
  font-family: 'DeterminationMonoWeb';
  src: url('font/DeterminationMonoWeb.woff');}
@font-face {
  font-family: 'Serif';
  src: url('font/PT_Serif-Web-Regular.ttf');}
@font-face {
  font-family: 'Widock';
  src: url('font/Widock TRIAL Bold.otf');}



body{
  background: #000;
  font-family:'Copperplate';
  color: #fff
}
body::before{
  content:"";
  inset:0;
  opacity:0.07;
  background:url("./media/1.svg") repeat;
  background-size:auto min(75vw, 40rem);
  pointer-events:none;
  position: fixed;
  filter: contrast(1.2) saturate(2);
}


.top {
  padding: min(17vw, calc(8.5rem * var(--макс))) 5vw;
  max-width: 100rem;
  margin: 0 auto;
}



.main {
  width: min(90vw, calc(60rem * var(--макс)));
  margin: 0 auto;
  margin-top: min(5vw, calc(2.5rem * var(--макс)));
  padding-bottom: 1px;
  line-height: 1.1;
}


.tt {
  font-size: min(18vw, calc(9rem * var(--макс)));
  transform: scaleY(2);
  font-family: "africa";
  text-shadow: 0 0 min(2vw, calc(1rem * var(--макс))) #000, 0 0 min(17vw, calc(8.5rem * var(--макс))) #ffe9e3;
  line-height: 0.8;
  margin: 0 0 min(12vw, calc(6rem * var(--макс)));
  font-weight: 1;
  text-align: end;
}
.subtitle {
  font-size: min(4.5vw, calc(2.25rem * var(--макс)));
  letter-spacing: -0.1em;
  line-height: 0.8;
  color: #bababa;
  margin-bottom: 0;
  width: auto;
  text-align: end;
  text-shadow: 0 0 min(1vw, calc(0.5rem * var(--макс))) #000, 0 0 min(1vw, calc(0.5rem * var(--макс))) #000, 0 0 min(1vw, calc(0.5rem * var(--макс))) #000, 0 0 min(1vw, calc(0.5rem * var(--макс))) #000, 0 0 min(4vw, calc(2rem * var(--макс))) #272727;
}
h2 {
  font-size: min(11vw, calc(5.5rem * var(--макс)));
  position: relative;
  font-family: "buyan";
  line-height: 0.8;
}

p {
  font-size: min(4vw, calc(2rem * var(--макс)));
  margin-bottom: min(3vw, calc(1.5rem * var(--макс)));
  color: #a4a2a1;
  width: 100%;
}


img {
  width: 100%;
  pointer-events: none;
  filter: contrast(1.2) brightness(0.8) saturate(0.8) sepia(0.2);
  height: 100%;
  z-index: 1;
}
.lor {
  display: grid;
  width: 100%;
  padding: 0 0 min(3vw, calc(1.5rem * var(--макс))) min(4vw, calc(2rem * var(--макс)));
  grid-template-columns: repeat(2, 1fr);
}


.container {
  position: relative;
  margin-bottom: min(14vw, calc(7rem * var(--макс)));
}



.rodina-text {
  padding-left: min(20vw, calc(10rem * var(--макс)));
  text-align: end;
}



.zap {
  width: min(60vw, calc(30rem * var(--макс)))
}
.movie {
  display: flex;
}
.movie h2 {
  display: initial;
  left: min(1vw, calc(0.5rem * var(--макс)));
  writing-mode: vertical-rl;
}
.movie p {
  letter-spacing: 0.1em;
}
.warning {
  text-align: center;
  width: min(60vw, calc(30rem * var(--макс)));
  opacity: 0.7;
  font-size: min(2.4vw, calc(1.2em * var(--макс)));
  letter-spacing: -0.1em;
  line-height: 0.9;
}













span {
  color: transparent;
  background: #c7c7c7;
}
nobody {
  display: ruby;
  font-size: min(4.2vw, calc(2.1rem * var(--макс)));
  font-family: DeterminationMonoWeb;
  line-height: 0;
  background: #000;
  box-shadow: 0 0 min(2vw, calc(1rem * var(--макс))) #000;
  color: #fff
}
none {
  display: none;
}